<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header mdl-layout__header--scroll">
		<a class="mdl-layout__drawer-button" href="#!home">
			<i class="material-icons">arrow_back</i>
		</a>
		<div class="mdl-layout__header-row">
			<span class="mdl-layout-title">A Propos</span>
			<div class="mdl-layout-spacer"></div>
		</div>
	</header>
	<main class="mdl-layout__content">
		<div class="page-content">

		</div>
	</main>
	<footer class="mdl-mini-footer">
		<div class="mdl-mini-footer__left-section">
			<div class="mdl-logo">Ma Bibliothèque</div>
			<ul class="mdl-mini-footer__link-list">
				<li><a href="#!about">A Propos</a></li>
				<li><a href="https://github.com/jfourmond/BookAppAngular">Code Source</a></li>
			</ul>
		</div>
	</footer>
</div>
