<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header mdl-layout__header--scroll">
		<a class="mdl-layout__drawer-button" href="#!home">
			<i class="material-icons">arrow_back</i>
		</a>
		<div class="mdl-layout__header-row">
			<span class="mdl-layout-title">{{book.title}}</span>
			<div class="mdl-layout-spacer"></div>
			<nav class="mdl-navigation">
				<button class="mdl-button mdl-js-button mdl-button--icon menu-button" ng-click="favorite()">
					<i class="material-icons">{{ book.favorite ? "favorite" : "favorite_border" }}</i>
				</button>
				<button class="mdl-button mdl-js-button mdl-button--icon menu-button" ng-click="remove()">
					<i class="material-icons">delete</i>
				</button>
			</nav>
		</div>
	</header>
	<main class="mdl-layout__content">
		<div class="page-content">
			<div class="mdl-grid">
				<img class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-cell--middle mdl-shadow--8dp" ng-src="{{book.thumbnail}}" alt="{{book.title}} cover" ng-if="book.thumbnail">
				<div class="mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
					<h5>{{book.author}}</h5>
					<h6>{{book.publisher}}, {{book.publishedDate | date:'yyyy'}} - {{book.pageCount}} pages</h6>
					<h6>ISBN-13 : {{book.isbn}}</h6>
					<blockquote id="book-description">{{book.description}}</blockquote>
				</div>
			</div>
		</div>
	</main>
	<footer class="mdl-mini-footer">
		<div class="mdl-mini-footer__left-section">
			<div class="mdl-logo">Ma Bibliothèque</div>
			<ul class="mdl-mini-footer__link-list">
				<li><a href="#!about">A Propos</a></li>
				<li><a href="https://github.com/jfourmond/BookAppAngular">Code Source</a></li>
			</ul>
		</div>
	</footer>
</div>
